.main-footer {
    background-color: rgb(233, 233, 233);
    .content-footer{
        p {
            padding: 10px;
        }
    }
}

@media screen and (max-width: 500px) {
    body {
      background-color: lightgreen;
    }
  }