.main-content-home {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 40px;
    .content-carousal {
        .awssld {
            --slider-height-percentage: 25%;
            --content-background-color: #ffffff00;
        }
    }
    .home-display {
        margin-top: 10%;
        .home-category {
            display: flex;
            border: 1px solid rgb(233, 233, 233);
            box-shadow: 0 0 10px 0 rgb(197, 196, 196);
            padding: 20px;
            .content-category-secondSide {
                width: 50%;
                img {
                    width: 25%;
                }
            }
            .content-category-oneSide {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                width: 50%;
                p {
                    text-align: center;
                }
                button {
                    background-color: rgba(196, 37, 116, 0.863);
                    border: none;
                    color: white;
                    padding: 8px 15px;
                    font-size: 25px;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
        .extra-content-alignment {
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width: 425px) {
    .main-content-home {
        
        .content-carousal {
            margin-top: 15px;
            .awssld img {
                width: 264px;
                height: 77px;
            }
        }
        .home-display {
            .home-category {
               
                .content-category-secondSide {
                   
                    img {
                       
                    }
                }
                .content-category-oneSide {
                   
                    p {
                        
                    }
                    button {

                    }
                }
            }
            .extra-content-alignment {
                
            }
        }
    }
}
