.main-content-product {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 50px;
    .category {
        width: 20%;
        background-color: rgb(233, 233, 233);
        padding: 5px;
        div {
            padding: 10px;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: rgb(197, 196, 196);
            span {
                cursor:pointer;
            }
        }
    }
    .main-content-display {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 60px 0px;
        .products-data{
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // border-width: 0 0 1px 0;
            // border-style: dotted;
            // border-color: rgb(197, 196, 196);
            padding: 10px;
            h4 {
                height: 80px;
            }
            img {
                height: 200px;
            }
            p {
                background-color: rgb(233, 233, 233);
                height: 170px;
            }
            .price-buy-button {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    background-color: rgba(196, 37, 116, 0.863);
                    border: none;
                    color: white;
                    padding: 8px 15px;
                    font-size: 25px;
                }
            }
            .hr-data {
                border: none;
                border-bottom: 1px dashed rgb(197, 196, 196);
            }
        }
    }
}