.main-content-product {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    .category {
        width: 25%;
        background-color: rgb(233, 233, 233);
    }
    .main-content-display {
        width: 75%;
        display: grid;
        grid-template-columns: auto auto auto;
    }
}