.content-register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    .right-content-register {
        fieldset {
            border: none;
        }
        label {
            display: block;
            color: aqua;
            font-size: 11px;
            padding: 10px;
        }
        .fName-visible {
            visibility: none;
        }
        .fName-notVisible {
            visibility: hidden;
        }
        .lName-visible {
            visibility: none;
        }
        .lName-notVisible {
            visibility: hidden;
        }
        .email-visible {
            visibility: none;
        }
        .email-notVisible {
            visibility: hidden;
        }
        .pass-visible {
            visibility: none;
        }
        .pass-notVisible {
            visibility: hidden;
        }
        .cPass-visible {
            visibility: none;
        }
        .cPass-notVisible {
            visibility: hidden;
        }
        input {
            border-width: 0 0 1px 0;
            padding: 10px;
            outline: none;
            margin-bottom: 15px;
        }
        [placeholder]:focus::-webkit-input-placeholder {
            transition: opacity 0.1s 0.1s ease;
            opacity: 0;
        }
        button {
            background-color: rgba(196, 37, 116, 0.863);
            border: none;
            color: white;
            padding: 8px 53px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}
.registered-info {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    p {
        display: inline-block;
    }
    .registerToSignIn {
        background-color: rgba(196, 37, 116, 0.863);
        border: none;
        color: white;
        border-color: rgba(196, 37, 116, 0.863);
        margin-left: 10px;
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    .content-register {
        .left-content-register {
            h2 {
                font-size: 15px;
            }
            p {
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .content-register {
        .left-content-register {
            padding: 20px;
        }
    }
}
