.content-signin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8%;
    .right-content-signin {
        fieldset {
            border: none;
        }
        label {
            display: block;
            color: aqua;
            font-size: 11px;
            padding: 10px;
        }
        .email-visible {
            visibility: none;
        }
        .email-notVisible {
            visibility: hidden;
        }
        .pass-visible {
            visibility: none;
        }
        .pass-notVisible {
            visibility: hidden;
        }
        input {
            border-width: 0 0 1px 0;
            padding: 10px;
            outline: none;
            margin-bottom: 15px;
        }
        [placeholder]:focus::-webkit-input-placeholder {
            transition: opacity 0.1s 0.1s ease;
            opacity: 0;
        }
        button {
            background-color: rgba(196, 37, 116, 0.863);
            border: none;
            color: white;
            padding: 8px 64px;
            font-size: 25px;
            cursor: pointer;
        }
    }
}
.signin-info {
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

@media screen and (max-width: 425px) {
    .content-signin {
        .left-content-signin {
            h2 {
                font-size: 15px;
            }
            p {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .content-signin {
        padding: 20px;
    }
}
